.asd {
  text-align: center;
  color: rgb(97, 17, 70);
  z-index: 9999999999999;
  font-weight: 800;
  font-size: medium;
  vertical-align:middle;
  display: flex;
  justify-content: center;
  margin: auto; 
  font-size: min(1vw, 1vh);
  word-wrap: break-word;
  color: red;
}